*{
    padding: 0;
    margin: 0;
}
nav{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(65,145,219,0.9019257361147583) 63%, rgba(0,212,255,1) 100%);
color: white;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;

}
ul{
    list-style: none;
    display: flex;
    text-align: right;
}
h1{
    margin-right: 900px;
}
li{
    margin-right: 30px;
}

  
.leon{
width: 100%;
height: 400px;
background-color: rgb(246, 244, 242);
background-image: url("https://wallpapercave.com/wp/wp9717413.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;
font-size: 20px;




}
img{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 100px;
    
} 



.ship{
    width: 100%;
    height: 750px;
    background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-color: rgb(246, 244, 242);
background-image: url("https://gas-kvas.com/uploads/posts/2023-02/1675416531_gas-kvas-com-p-korabl-fonovii-risunok-9.jpg");

}

    .tx{

        background-color: rgb(246, 244, 242);
        width: 100%;
        height: 300px;
        
     
        
    }
.pc{
    background-color:  rgb(246, 244, 242);
    width: 100%;
    height: 300px;
   

}
.qw{
background-color: rgb(246, 244, 242);
width: 700px;
height: 100px;

margin-left: 400px;
text-align: center;


}
 .tx p{
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}
.mn{
    
    text-align: center;
    

}
.mn p{    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    }
